*{
    /* 重置所有元素 */
    margin: 0;
    padding: 0;
}
#_login_bg_front,#_login_bg_back {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    /* 不随窗口的滚动而滚动 */
    position: fixed;
    background-size:100%;
    background-repeat: no-repeat;
    z-index: -1;
}
body {
    /* 背景色 */
    /* background-color: #f3f5f7; */
}
@font-face {
    /*自定义字体 方正黑体*/
    font-family: font_black_body;
    src: url(../font/blackbody.TTF);
}
@font-face {
    /*自定义字体 方正幼圆*/
    font-family: font_young_circle;
    src: url(../font/youngCircle.ttf);
}
/* 1.确认版心，因为居中对齐，且宽度1500像素 */
.w {
    width: 1200px;
    margin: auto; /*设置外边距，auto是水平居中*/
}
.webMain {
    /* 设置一个固定的位置 */
    position: relative;
    width: 100%;
    height: 100%;
}
.webHeader {
    /* width: 1900px; */
    position: fixed;
    width: 100%; 
    height: 65px;
    background-color: rgb(100, 95, 95);
    z-index: 2;

}
#webMeun #_elcol {
    position: relative;
    width: 350px;
}
#webMeun #_elcol .el-webMeun {
    position: absolute;
    width: 100%;
    border: 0;
}
.webMain #webMeun #_elcol .el-webMeun {
}
#webMeun #_elcol ul li span {
    font-size: 1.3em;
    color: rgb(241, 230, 127);
}
#webMeun #_elcol ul li ul li span {
    font-size: 1.15em;
}
.webBody {
    position: absolute;
    width: 1200px;
    /*height是在Js中动态设置*/
    /*总宽度1900px*/
    top: 65px;
    /* left: 229px; */
    left: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;

}
.textBody {
    position: absolute;
    width: 100%;
    /* height: 790px; */
    height: 100%;
    top: 70px;

}
[class^="textBody-"] {
    width: 100%;
    /* height: 13%; */
    /* 根据盒子的个数，在js中将动态赋予父div高度*/
    height: 103px;
    /* 取消上下间距 */
    /* background: linear-gradient(to bottom,rgba(27, 29, 30, 0.6),rgba(27, 29, 30, 0.1)); */
    /* border-bottom: 1px solid rgb(13, 171, 206);*/
    border-bottom: 1px solid rgb(207, 207, 121);
}
[class^="textBody-"]:hover {
    background: linear-gradient(to bottom,rgba(76, 78, 80, 0.6),rgba(76, 78, 80, 0.1));
}
.searchMainBox ul li {
    float: left;
    list-style: none;
} 
.searchMainBox ul li a {
    display: block;
    /* 转为块元素 */
    height: 70px;
    /* 设置内边距，会自动撑开 */
    padding: 0 30px;
    font-size: 1.3em;
    font-family:font_young_circle; 
    /* 行高设置成和自身高度大小相同即可 */
    line-height: 70px;
    color: rgb(207, 207, 121);
    /* 让文字没有下划线 */
    text-decoration: none;
    /*设置左边框，有竖线*/
    /* border-right: 3px solid #ccc; */

}
.webBody .textBody #paging .el-pagination {
    /*居中外边距在js中动态设置 (1200px-40px*个数)/2*/
    /*设置成弹性盒子，这样就可以自动水平居中*/
    display: flex;
    justify-content: center; /* 水平居中 */
    margin-top: 20px;
}
.webBody .textBody #paging .el-pagination.is-background .el-pager li,
.webBody .textBody #paging .btn-prev,.webBody .textBody #paging .btn-prev,
.webBody .textBody #paging .btn-prev,.webBody .textBody #paging .btn-next {
    background-color: rgb(63, 61, 61);
    color: rgb(255, 255, 156);
}
.webBody .textBody #paging .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.webBody .textBody #paging .el-pagination.is-background .el-pager li:hover {
    background-color: rgb(102, 96, 96);
    color: rgb(230, 230, 183);
}

.textBody [id^="el-day-"]{
    margin-left: 14px;
    width: 350px;
    /* height: 20px; */
}
.textBody a {
    /* 设置位置，不然会间隔 */
    position: relative;
    /* 转为块级元素 */
    display: block;
    text-decoration: none; 
    font-size: 1.3em;
    font-family:font_young_circle; 
    /* color:rgb(105, 162, 213); */
    color: rgb(207, 207, 121);
    margin-bottom: 15px;
    margin-left: 10px;
    /* margin-top: 10px; */
    top: 5px;

}
/*进度条*/
.el-progress-bar__outer{
    margin-top: 15px;
    margin-left: 15px;
}
.el-progress__text {
   position: absolute;
   top: 11px;

}
/* [class^="top"] 选择以指定名称开头的类 */
.textBody [class^="textBody-"]  [id^="tag-pre"] {
    float: left;
}
.textBody [class^="textBody-"] [id^="tag-next"] {
    margin-right: 830px;
    float: right;
}
.textBody [class^="textBody-"]  [id^="tag-next"],
.textBody [class^="textBody-"] [id^="tag-pre"]{
    /*设置透明度让元素不显示*/
    /* opacity: 0; */
    font-size: 1em;
    margin-top: -3px;
    /* 这个比Bottom好用 */
    color:rgb(255, 255, 255);
    z-index: 2;

}
/* .textBody [class^="textBody-"]  [class^="button-"]{
     */
.textBody [class^="textBody-"] [id^="_button-tag"]{
    /* float: left; */
    /* 如果字体长度大于4，我们就把这个属性去掉 */
    width: 45px;
    margin-left: 15px;
    /* border-radius: 4px; */
    z-index: 3;
    font-weight:bold;
}
.textBody [class^="textBody-"]  .float-button-tag {
    float: left;
}
.textBody [class^="textBody-"]  [id^="_button-tag"]:hover {
    color: red;
}
.textBody a:hover{
    text-decoration: underline;
    color:rgb(246, 242, 191);
}
.searchMainBox ul li #a-first {
    border-left: none;
}
.searchMainBox {
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: rgba(40, 39, 39, 0.8);
}
.searchBox {
    position: absolute;
    width: 200px;
    height: 40px;
    right:15px;
    top:15px;
    z-index: 3;
    border: 0;
}
/* .searchBox input[type = "button"] { */
#el-search {
    position: absolute;
    height: 100%;
    right: 200px; 
    border: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    font-family:font_young_circle; 
    color: rgb(167, 198, 225);
    background-color: rgb(55, 56, 58);
    
}
.searchBox input[type = "text"] {
    position: absolute;
    width: 200px;
    height: 100%;
    right: 0;
    border: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    font-size: 1.4em;/*设置Input内文字的大小*/
    font-family:font_young_circle; 

}
#webMeun {
    top: 65px;
    position: fixed;
}
#webMeun .tac {
    width: 460px;
    font-family: font_young_circle;
}
.webMusic {
    /* 设置浮动 */
    float: left;
    /* 设置左边距 */
    position: absolute;
    z-index: 2;
    margin-left: 15px;
    width: 65px;
    height: 65px;
}
.webMusic img {
    width: 100%;
    height: 100%;
}
.webHeader audio {
    float: left;
    /*relative表示固定的属性，不变  */
    position: relative;
    margin-top: 2px;
    margin-left: 20px;
    width: 300px;
    height: 58px;
}
.webHeader audio::-webkit-media-controls-panel {
    transform: translateX(40px);
}
.webMusic .animation_img_rotate {
/* 我们的图片旋转 */
animation: rotate 4s linear; 
animation-iteration-count: infinite;/* 循环播放 */
}
/* 设置动画 */
@keyframes rotate {
    from {
      transform: rotate(0deg); /* 初始状态为0度 */
    }
    to {
      transform: rotate(360deg); /* 结束状态为360度即一圈 */
    }
}
.class_animation_appear {
    animation: animation_background_appear 8s ease; 
}
.class_animation_disappear{
    animation: animation_background_disappear 8s ease;
}
@keyframes animation_background_appear{
    0% {
        opacity:0;
    }
    100% {
        opacity: 1; 
    }
}
@keyframes animation_background_disappear{
    0% {
        opacity:1;
    }
    100% {
        opacity: 0; 
    }
}