*{
    /* 重置所有元素 */
    margin: 0;
    padding: 0;
}
.scrollBox {
    position:absolute;
    left: 350px;
    width: 1200px;
    height: 65px;
    /*超出容器的部分裁剪  */
    overflow: hidden; 
}
/*观看图片*/
.login_main_img_div {
    width:280px;
    height:490px; 
    top:207px;
    left: 1480px;
    position: fixed;
    z-index: 6;
}
/*观看图片*/
.login_main_img_watch {
    width:100%;
    height:100%; 
    position: absolute;
    user-select: none;/*不可被选中*/
    -webkit-user-drag:none;/*不能被拖动*/
}
.scrollText {
    color: gold;
    display: inline-block;
    /* 文本不换行 */
    white-space: nowrap;
    font-size: 1.4em;
    padding-top: 19px;
    user-select: none; 
}
.scrollAnimation {
    /* 5个字加1秒 */
    animation: 14s wordsLoop linear 1 normal;
}
@keyframes wordsLoop {
    0% {
        transform: translateX(1300px);
        -webkit-transform: translateX(1300px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

/*设置滚动条不可见*/
.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
    display: none;
}
/* 测试 */
.left {
    position:absolute;
    height: 100%;
    width: 50%;
    overflow:auto;
}
.right {
    position:absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    overflow:auto;
}
.card #point {
    background-color: rgba(0, 0, 0,0.6);
    position:absolute;
    width: 100%;
    height: 35%;
    top: 65%;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    color: white;
    display: none;
    user-select: none;
    cursor: pointer;
}
.chat {
    position: relative;
    background-color: rgba(32,33,35,.5);
    left: 5%;
    height: 80%;
    width: 90%;
    overflow: auto;

}
.chat::-webkit-scrollbar {
    width: 10px;
    height: 2%;
  }
  .chat::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);    
    border-radius: 20px;
  }
  
  /* 定义滚动条滑块（thumb）的样式 */
.chat::-webkit-scrollbar-thumb {
    background-color: rgb(230, 230, 183);
    border-radius: 20px;
  }
  
  /* 鼠标经过滚动条时，滑块（thumb）的样式 */
.chat::-webkit-scrollbar-thumb:hover {
    background-color:  rgb(255, 255, 156); 
  }
.speak {
    position: relative;
    background-color: rgb(54, 49, 49);
    height: 20%;
    width: 100%;
}
.cuser {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    /* height: 10%; */
    /* width: 80%; */
}
.cuser img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.cuser img:hover{
    cursor: pointer;
}
.cuser .ttext {
    position: relative;
    height: 25px;
    width: 330px;
    left: 10%;
    color: rgb(207, 200, 200);
    /* font-family: "Microsoft YaHei",font_young_circle; */
    user-select: none;
}
.cuser .context {
    /*一行最多25个字符*/
    position: relative;
    /* 多余的高度会自动补充 */
    height: auto;
    /* width: 450px; */
    background-color: rgb(226, 220, 220);
    left: 10%;
    border-radius: 6px;
    z-index: 2;
    /* font-family: "Microsoft YaHei",font_young_circle; */
    font-size: 1.1em;
    padding:5px 5px 5px 5px;
    /* 设置成inline就可以随文字动态变化 */
    display: inline-block;
    /*宽度不足自动换行*/
    word-wrap: break-word;
    /* 保留空格和换行，允许文本换行。 */
    white-space: pre-wrap;
}
.cuser .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(226, 220, 220) transparent transparent;
    left: 90px;
    top:37px;
}
.cuser .header {
    position:absolute;
    background-color:yellow;
    top:20px;
    left: 25px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    user-select: none;
}
.ssend {
    position:absolute;
    background-color: rgba(32,33,35,.5);
    height: 30%;
    left: 10%;
    top: 35%;
    width: 80%;
    border-radius: 10px;
}
.ssendtext {
    position:absolute;   
    background-color: rgba(32,33,35,.5);
    top: 10%;
    left: 1%;
    height: 80%;
    width: 92%;
    border-radius: 10px;
    font-size: 1.8em;
    /* font-family: "Microsoft YaHei",font_young_circle; */
    color: rgb(201, 195, 195);
    border: none; /* 取消外边框 */
    outline: none; /* 取消点击时的黑线边框 */
    resize: none; /* 禁止调整尺寸 */
    
}
.ssendtext::-webkit-scrollbar {
    display: none; /* 隐藏滚动条（适用于Chrome、Safari和Opera）*/
  }
.ssend i {
    position:absolute;  
    right: 1.5%;
    top:5%;
    font-size: 3em;
    color: rgb(201, 195, 195);
    background-color: rgba(32,33,35,.5);
} 
.ssend i:hover {
    cursor: pointer; /* 鼠标移动到div上时显示小手 */
    color: rgb(241, 230, 127);

}
.ssend i:active {
    color: rgb(201, 195, 195);
}
.card p {
    text-align: center;
    /* font-family: "Microsoft YaHei",font_young_circle; */
    margin-top: 5px;
}
.card img {
    width: 100%;
    height: 100%;
    position:absolute;
    object-fit: cover;
    border-radius: 10px;
    /* 让图片的颜色暗淡下去 */
    filter: brightness(70%);
}
.card img:hover {
    filter: brightness(100%);
    cursor: pointer;

}
.card {
    position:absolute;
    height: 35%;
    width: 40%;
    left: 30%;
    border-radius: 10px;

}
#_login_bg_front,#_login_bg_back {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    /* 不随窗口的滚动而滚动 */
    position: fixed;
    background-size:100%;
    background-repeat: no-repeat;
    z-index: -1;
}
body {
    /* 背景色 */
    /* background-color: #f3f5f7; */
    /* 取消text被点击时出现的框框 */
}
#article_header ul li  [id^="option_a"],
#article_header ul li  #color_a{
    padding-left:0px;
    padding-right: 30px;
      /* 不改变鼠标形状 */
    cursor: default;
}
#article_header ul li  #title_a,
#article_header ul li  #color_text_a{
    padding-right:10px;
}
[id^="option_title"] {
    float: right;
    display: flex; /* 声明弹性容器 */
    align-items: center; /* 垂直居中子元素 */
    /* margin-left: 5px; */
}
#color_title {
    float: right;
    /* margin-left: 5px; */
    border-radius: 20px;
}
[id^="option_title"] .el-input__inner {
    width: 100px;
    border-color: rgb(207, 207, 121);

}
  
.el-select-dropdown .el-scrollbar {
    background-color: rgba(0, 0, 0, 0.8);
}
body .el-select-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

body  .el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color:rgba(0, 0, 0, 0.8);
}
body .el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color:rgba(0, 0, 0, 0);
}
/* 1.确认版心，因为居中对齐，且宽度1500像素 */
.w {
    width: 1200px;
    margin: auto; /*设置外边距，auto是水平居中*/
}
.webMain {
    /* 设置一个固定的位置 */
    position: relative;
    width: 100%;
    height: 100%;
}
#upload_input {
    /* 把我们的input隐藏掉 */
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.webHeader {
    /* width: 1900px; */
    position: fixed;
    width: 100%; 
    height: 65px;
    background-color: rgb(100, 95, 95);
    z-index: 4;

}
.web_iframe {
    position:absolute;
   /* top: 70px; */
   top: 20px;
   width: 100%;
    /* 高度是834 - top */
   height: 814px;
}
#webMeun #_elcol {
    position: relative;
    width: 350px;
}
#webMeun #_elcol .el-webMeun {
    position: absolute;
    width: 100%;
    border: 0;
}
#webMeun #_elcol ul li span {
    font-size: 1.3em;
    color: rgb(241, 230, 127);
}
.searchBox #el-search {
    color: rgb(207, 207, 121);
}
#webMeun #_elcol ul li ul li span {
    font-size: 1.15em;
}
.searchBox #search_text {
    line-height: 20px;
}
.webBody {
    position: absolute;
    width: 1200px;
    height: 904px;
    /*height是在Js中动态设置*/
    /*总宽度1900px*/
    top: 65px;
    /* left: 229px; */
    left: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    /* z-index: 1; */

}
.optionBody {
    position:absolute;
    background-color: rgba(40, 39, 39, 0.8);
    left: 100%;
    border-radius: 0 10px 10px 0;
    top:562px;
}
.optionBody div {
    margin: 10px 5px 10px 5px;
}
.optionBody div:hover,.optionBody i:hover {
    background-color: rgb(63, 61, 61);
    color: rgb(255, 255, 156);
}
.optionBody div:active,.optionBody i:active {
    color: rgb(207, 207, 121);
}
.optionBody i {
    font-size: 2.6em;
    color: rgb(207, 207, 121);
    font-weight:normal;
}
.textBody {
    position: absolute;
    width: 100%;
    /* height: 790px; */
    /* height: 100%; */
    top: 70px;

}
[class^="textBody-"] {
    width: 100%;
    /* height: 13%; */
    /* 根据盒子的个数，在js中将动态赋予父div高度*/
    height: 103px;
    /* 取消上下间距 */
    /* background: linear-gradient(to bottom,rgba(27, 29, 30, 0.6),rgba(27, 29, 30, 0.1)); */
    /* border-bottom: 1px solid rgb(13, 171, 206);*/
    border-bottom: 1px solid rgb(207, 207, 121);
}
[class^="textBody-"]:hover {
    background: linear-gradient(to bottom,rgba(76, 78, 80, 0.6),rgba(76, 78, 80, 0.1));
}
.searchMainBox ul li,
#article_header ul li{
    float: left;
    list-style: none;
} 
.searchMainBox ul li  #option_a1,
.searchMainBox ul li  #color_a,
.searchMainBox ul li  #option_a2 {
    padding: 0 10px;
}
.searchMainBox ul li a,
#article_header ul li a{
    display: block;
    /* 转为块元素 */
    height: 70px;
    /* 设置内边距，会自动撑开 */
    padding: 0 30px;
    font-size: 1.3em;
    /* font-family:"Microsoft YaHei",font_young_circle;  */
    /* 行高设置成和自身高度大小相同即可 */
    line-height: 70px;
    color: rgb(207, 207, 121);
    /* 让文字没有下划线 */
    text-decoration: none;
    /*设置左边框，有竖线*/
    /* border-right: 3px solid #ccc; */

}
.webBody .textBody #paging .el-pagination {
    /*居中外边距在js中动态设置 (1200px-40px*个数)/2*/
    /*设置成弹性盒子，这样就可以自动水平居中*/
    display: flex;
    justify-content: center; /* 水平居中 */
    margin-top: 20px;
}
.webBody .textBody #paging .el-pagination.is-background .el-pager li,
.webBody .textBody #paging .btn-prev,.webBody .textBody #paging .btn-prev,
.webBody .textBody #paging .btn-prev,.webBody .textBody #paging .btn-next {
    background-color: rgb(63, 61, 61);
    color: rgb(255, 255, 156);
}
.webBody .textBody #paging .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.webBody #article_header li:not([id^="option_li"],#color_li):hover,
.webBody .textBody #paging .el-pagination.is-background .el-pager li:hover {
    background-color: rgb(102, 96, 96);
    color: rgb(230, 230, 183);
}
#article_header li a:not([id^="option_a"],#color_a):active {
    color: rgb(255, 255, 156);
}
.textBody [id^="el-day-"]{
    margin-left: 14px;
    width: 350px;
    /* height: 20px; */
}
.textBody a {
    /* 设置位置，不然会间隔 */
    position: relative;
    /* 转为块级元素 */
    display: block;
    text-decoration: none; 
    font-size: 1.3em;
    /* font-family:"Microsoft YaHei",font_young_circle;  */
    /* color:rgb(105, 162, 213); */
    color: rgb(207, 207, 121);
    margin-bottom: 15px;
    margin-left: 10px;
    /* margin-top: 10px; */
    top: 5px;

}
/*进度条*/
.el-progress-bar__outer{
    margin-top: 15px;
    margin-left: 15px;
}
.el-progress__text {
   position: absolute;
   top: 11px;

}
/* [class^="top"] 选择以指定名称开头的类 */
.textBody [class^="textBody-"]  [id^="tag-pre"] {
    float: left;
}
.textBody [class^="textBody-"] [id^="tag-next"] {
    margin-right: 830px;
    float: right;
}
.textBody [class^="textBody-"]  [id^="tag-next"],
.textBody [class^="textBody-"] [id^="tag-pre"]{
    /*设置透明度让元素不显示*/
    /* opacity: 0; */
    font-size: 1em;
    margin-top: -3px;
    /* 这个比Bottom好用 */
    color:rgb(255, 255, 255);
    z-index: 2;

}
/* .textBody [class^="textBody-"]  [class^="button-"]{
     */
.textBody [class^="textBody-"] [id^="_button-tag"]{
    /* float: left; */
    /* 如果字体长度大于4，我们就把这个属性去掉 */
    width: 45px;
    margin-left: 15px;
    /* border-radius: 4px; */
    z-index: 3;
    font-weight:bold;
    color: rgb(238, 229, 229);
    border-color:rgba(40, 39, 39, 0.8) ;
    background-color: rgba(40, 39, 39, 0.8);
}
.textBody [class^="textBody-"]  .float-button-tag {
    float: left;
}
.textBody [class^="textBody-"]  [id^="_button-tag"]:hover {
    color: rgb(223, 223, 18);
}
.textBody a:hover{
    text-decoration: underline;
    color:rgb(246, 242, 191);
}
.searchMainBox ul li #a-first, 
#article_header ul li #a-first {
    border-left: none;
}
.searchMainBox,#article_header {
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: rgba(40, 39, 39, 0.8);
}
#article_header {
    position: fixed;
    width: 1200px;
}
.searchBox {
    position: absolute;
    width: 200px;
    height: 40px;
    right:15px;
    top:15px;
    z-index: 3;
    border: 0;
}
/* .searchBox input[type = "button"] { */
#el-search {
    position: absolute;
    height: 100%;
    right: 200px; 
    border: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    /* font-family:"Microsoft YaHei",font_young_circle;  */
    color: rgb(167, 198, 225);
    background-color: rgb(55, 56, 58);
    
}
.searchBox input[type = "text"] {
    position: absolute;
    width: 200px;
    height: 100%;
    right: 0;
    border: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    font-size: 1.4em;/*设置Input内文字的大小*/
    /* font-family:"Microsoft YaHei",font_young_circle;  */
    /* 取消文本聚焦时候的轮廓线 */
    outline: none;

}

#webMeun {
    top: 65px;
    position: fixed;
}
#webMeun .tac {
    width: 460px;
    /* font-family: "Microsoft YaHei",font_young_circle; */
}
.webMusic {
    /* 设置浮动 */
    float: left;
    /* 设置左边距 */
    position: absolute;
    z-index: 2;
    margin-left: 15px;
    width: 65px;
    height: 65px;
}
.webMusic img {
    width: 100%;
    height: 100%;
}
.webHeader audio {
    float: left;
    /*relative表示固定的属性，不变  */
    position: relative;
    margin-top: 2px;
    margin-left: 20px;
    width: 300px;
    height: 58px;
}
.webHeader audio::-webkit-media-controls-panel {
    transform: translateX(40px);
}
.webMusic .animation_img_rotate {
/* 我们的图片旋转 */
animation: rotate 4s linear; 
animation-iteration-count: infinite;/* 循环播放 */
}
/* 设置动画 */
@keyframes rotate {
    from {
      transform: rotate(0deg); /* 初始状态为0度 */
    }
    to {
      transform: rotate(360deg); /* 结束状态为360度即一圈 */
    }
}
.class_animation_appear {
    animation: animation_background_appear 8s ease; 
}
.class_animation_disappear{
    animation: animation_background_disappear 8s ease;
}
@keyframes animation_background_appear{
    0% {
        opacity:0;
    }
    100% {
        opacity: 1; 
    }
}
@keyframes animation_background_disappear{
    0% {
        opacity:1;
    }
    100% {
        opacity: 0; 
    }
}