    /* 初始状态，注意设置相对定位 */
    /*图片渐变移动代码*/
    div {
        width: 300px;
        height: 100px;
        line-height: 100px;/*行高*/
        text-align: center;
        box-sizing: border-box;/*设置盒子模型*/
        position: relative;/*设置位置的方式*/
      }
      /* 渐变色边框 */
      div::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-top: 1px solid;
        border-left: 1px solid;
        border-image: linear-gradient(to bottom, #eda901, #d16cc7) 1 10;
        width: 0;
        height: 0;
        /*
        transition用法
        参数一transition-property 
        none 没有元素获得效果
        all 所有元素有效果
        property 定义过渡的属性

        transition-duration
        属性过渡需要多长时间 毫秒计算

        transition-timing-function：播放速度
        linear:相同时间
        ease：由慢变快
        ease-int 慢速开始
        ease-out 慢速结束
        ease-int-out 慢速开始，慢速结束
        cubic-bezier(n,n,n,n)自定义

        transition-delay
        从什么时候开始过渡
        
        
        */
        transition: all 0.4s ease-out 0s;
        visibility: hidden;
        box-sizing: border-box;
      }
      /*div::after*/
      div::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-image: linear-gradient(to bottom, #eda901, #d16cc7) 1 10;
        width: 0;
        height: 0;
        transition: all 0.4s ease-out 0s;
        visibility: hidden;/*元素不可见*/
        box-sizing: border-box;
      }
      div:hover::before {
        width: 100%;
        height: 100%;
        visibility: visible;;/*元素可见*/
      }
      div:hover::after {
        width: 100%;
        height: 100%;
        visibility: visible;
      }
      

      
/*图片闪光代码*/

img{width:800px;height:450px;margin:0 auto;}
.img { display:block; position: relative; width:800px; height:450px; margin:0 auto;}
.img:before{ content: ""; position: absolute; width:200px; height: 100%; top: 0; left: -150px; overflow: hidden;

 

background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);

background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,0)));

 

background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);

 

background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);

 

-webkit-transform: skewX(-25deg);
-moz-transform: skewX(-25deg)

 

}

.img:hover:before { left: 150%; transition: left 1s ease 0s; }